# Stellar network
NEXT_PUBLIC_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
NEXT_PUBLIC_EXPLORER_BASE=https://stellar.expert/explorer/testnet

# Mutav Pulse contract IDs (output from bootstrap.sh)
NEXT_PUBLIC_VAULT_ID=
NEXT_PUBLIC_POLICY_ID=
NEXT_PUBLIC_REGISTRY_ID=

# Stellar testnet USDC (Circle faucet SAC — trustline required)
NEXT_PUBLIC_USDC_ID=CBIELTK6YBZJU5UP2WWQEUCYKLPU6AUNZ2BQ4WWFEIE3USCIHMXQDAMA
